* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header{
  width: 100%;
  padding: 30px 0;
  background-color: black;
}

.interface{
  max-width: 1100px;
  margin: 0 auto;
}

header .interface{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .interface .logo img {
  width: 200px;
}

header .interface .menu nav ul {
  list-style-type: none;
}

header .interface .menu nav ul li {
  display: inline-block;
  margin: 0 70px;
}

header .interface nav ul li a{
  display: inline-block;
  text-decoration: none;
  color: white;
  transition:0.2s
}

header .interface nav ul li a:hover{
  color: #e6e8e8;
  transform: scale(1.10);
  font-weight: 700;
}
